

html,body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: black;
    /*
    background-image: linear-gradient(to top, #E55D87 , #5FC3E4);
    background-size: 100%, 100%;
    background-repeat: no-repeat;
    */
}

/*
here store my links, there will have some links go to message me or contect me.
*/
.myLink {
    height: 50px;
    width: auto;
    margin-top: 260px;
    margin-left: auto;
    margin-right: auto;

    background-color: red;
}

section.profile {
    width: auto;
    height: auto;
    margin: 0, auto;
}

img.profile {
    width: 100px;
    height: 100px;
    border-radius: 100px;
}

